<html>
<%- include('./template/header') %>
  <body>
    <%- include('./template/navbar') %>

    <div>
        <h1>This is the body of the page</h1>
        <h3>Continue adding content here</h3>
    </div>
    <%- include('./template/footer') %>
  </body>
</html>
