<html>
  <%- include('./template/header') %>
  <body>
    <%- include('./template/navbar') %>
    <div class="container py-5">
      <div class="row py-5">
        <h3>Welcome <%=username%></h3>
      </div>
    </div>
    <!-- End Contact -->
    <%- include('./template/footer') %>
  </body>
</html>
