<html>
  <%- include('./template/header') %>
  <body>
    <%- include('./template/navbar') %>

    <div>
      <h1>This is an Error Page</h1>
      <h3><%=error%></h3>
    </div>
    <%- include('./template/footer') %>
  </body>
</html>
